<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fall2024-Assignment1-jbmcclenny</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../../wwwroot/css/ubuntuFont.css">
        <link rel="stylesheet" href="..../wwwroot/css/site.css">
        
    </head>

    <body>

        <div id="main" class="main">
            <h1 id="title">
                Hazbin Hotel
            </h1>

            <br>

            <img id="CoverArt" src="../images/coverart.jpg" class="circular-image">

            <br><br>

            <h5 id="Rating">
                IMDB Rating: 7.8/10
            </h5>

            <a 
                id="IMDB" 
                href="https://www.imdb.com/title/tt7216636/?ref_=ttep_ov">
                IMDB Page
            </a>

            <br><br>

            <hr class="divider">

            <h3 id="SummaryTitle">
                Summary
            </h3>

            <p id="Summary" class="summary">
                The series follows Charlie Morningstar, the princess of Hell, as she sets about fulfilling her seemingly impossible
                dream of opening a hotel called the "Hazbin Hotel", which aims to rehabilitate sinner demons. Due to
                overpopulation, Hell goes through an annual purge where angels, led by Adam, descend from Heaven and kill
                sinners. Charlie finds this upsetting, and wants to find a more peaceful solution to the overpopulation problem. 
                Her goal is to have her clients "check out" from Hell as redeemed souls and be accepted into Heaven. With the
                help of her devoted manager and girlfriend, Vaggie, and their reluctant first patron, pornographic film actor
                Angel Dust, she is determined to make her dream become a reality. But when her proposal on live television
                goes awry, her plan attracts the attention of the powerful "Radio Demon" Alastor who, despite finding her
                belief in redemption laughable, wants to help Charlie run the hotel for his own amusement.
            </p>

            <br>

            <hr class="divider">

            <h3 id="TrailerTitle">
                Trailer
            </h3>


            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/OLSWVCwy88g?si=Vx7cKH2_ICT5sNTZ" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
            
            <br><br><br>

            <hr class="divider">


            <h3 id="ActorsTitle">
                Actors
            </h3>
            <ul id="Actors" class="standardList">
                <li>Blake Roman (as Angel Dust)</li>
                <li>Erika Henningsen (as Charlie)</li>
                <li>Stephanie Beatriz (as Vaggie)</li>
                <li>Alex Brightman (as Sir Pentious)</li>
                <li>Keith David (as Husk)</li>
            </ul>

            <br>

            <hr class="divider">

            <br>

            <h3 id="Soundtrack">
                Soundtrack
            </h3>

            <ul id="SoundtrackList" class="songList">
                <li>
                    Happy Day in Hell<br>
                    <iframe
                        width="560" 
                        height="315"
                        src="https://www.youtube.com/embed/yMQWoFZHvxs?si=rIWxbYRgaB8FGOED"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Hell is Forever<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/kMy8W0j-Slw?si=CTvwKolcm3AUkE_m" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Stayed Gone<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/Ai4eh_OCxvw?si=dX20N4fT4eG8nMmL" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    It Starts with Sorry<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/V7NaFOMjFYY?si=YjbzJ5IJXgFYx0pA" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Respectless<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/bOarXIWBtWk?si=IKhXgBrgY3Rqx7bV" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Whatever it Takes<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/rEs7DyLqwmo?si=LdcNsDL7Qw1jdzOu" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Poison<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/xEGWKXwUb54?si=rXV5Wb3he2Uuy0Mh" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Loser, Baby<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/9sVoglgJjRg?si=JABq-2PngJSKseFx" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Hell's Greatest Dad<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/jNUTxvki_d0?si=OaCLWXQouW-Qv9Vz" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    More than Anything<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/QzMHmnDwOz8?si=rDLmLsHNdHDzNeJs" 
                        title="YouTube video player" 
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Welcome to Heaven<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/a9s6FRLNJAo?si=lwDnrntq5JZTgY-m" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    You Didn't Know<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/3HF6Oj9GeLg?si=dboOiMRYg2ftisYL" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Out For Love<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/cXpna0qt698?si=GYG0-bDAyVl4vNWa" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Ready For This<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/y1yNk8VeqqI?si=6tyCtTVrgW2JLf5O" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    More Than Anything (Reprise)<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/_Vm_j-yNRoQ?si=gCA-MyhEIbOnEVeB" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>

                <br>

                <li>
                    Finale<br>
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/75IMChOtf9s?si=GJHFbUiQfIGQvMJ2" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </li>
            </ul>
        </div>

    </body>
</html>